html,
body,
#__next {
    height: 100%;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
.p_x {
    @apply px-5;
}
.p_y {
    @apply py-5;
}
.icon_style {
    @apply w-[38px] h-[38px] overflow-hidden cursor-pointer border border-transparent text-[#606060] flex justify-center items-center active:bg-white active:border-gray-300 duration-200 hover:bg-gray-200 rounded-full;
}
.icon_style svg {
    width: 23px;
    height: 23px;
    color: #030303;
}
.icon_big {
    width: 35px !important;
    height: 35px !important;
}
.icon_style.hover_none {
    @apply hover:bg-transparent active:bg-transparent active:border-transparent #{!important};
}
.icon_style.side_bar_icon svg {
    width: 23px;
    height: 23px;
}
.icon_style.icon_mobile {
    width: 34px !important;
    height: 34px !important;
}
.icon_mobile svg {
    width: 20px !important;
    height: 20px !important;
}
.user_avatar {
    width: 32px !important;
    height: 32px !important;
}
.subscription_avatar {
    width: 28px !important;
    height: 28px !important;
}
.line_clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}
.flex_center {
    @apply flex justify-center items-center;
}
.sidebar_link_li {
    @apply flex items-center hover:bg-gray-200 text-[#606060] border border-transparent active:bg-white active:border-gray-300;
}
.devider {
    @apply my-3 w-full h-[1px] bg-gray-200;
}
.sidebar_group_title {
    @apply font-semibold text-gray-500 uppercase text-sm mb-2;
}
.sideBarSmall .small_link_text {
    display: inline-block;
}
.sideBarSmall .big_link_text {
    display: none;
}
.sideBarSmall .p_x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.sideBarSmall .sidebar_link_li,
.sideBarSmall .sidebar_link_li > div {
    justify-content: center !important;
    align-items: center !important;
}
.sideBarBig .small_link_text {
    display: none;
}
.sideBarBig .big_link_text {
    display: inline-block;
}
.loading_img {
    background: #ddd;
    animation: loading_img 1s linear infinite;
}
.swiper_navigation_button {
    @apply w-14 h-full overflow-hidden flex items-center p-1.5 absolute top-1/2 -translate-y-1/2 z-50;
}
.swiper_navigation_button.swiper-button-disabled {
    display: none;
}
.swiper_navigation_button.next_button {
    background: linear-gradient(90deg, transparent 0%, #fff 20%);
}
.swiper_navigation_button.prev_button {
    background: linear-gradient(-90deg, transparent 0%, #fff 20%);
}
@keyframes loading_img {
    0% {
        background: #ddd;
    }
    50% {
        background: rgb(184, 184, 184);
    }
    100% {
        background: #ddd;
    }
}
.subs_btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: #dc0000 !important;
    color: white !important;
    padding: 6px 15px !important;
    border-radius: 0 !important;
}
@media only screen and (min-width: 768px) {
    .thin_scrollbar {
        scrollbar-color: #c5c5c5 rgba(255, 255, 255, 0);
        scrollbar-width: thin;
        scroll-padding: 2px;
    }
    .thin_scrollbar::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }
    .thin_scrollbar::-webkit-scrollbar-thumb {
        background: #c5c5c5;
    }
}
#scrollableDiv .infinite-scroll-component {
    @apply grid grid-cols-1 sm:grid-cols-4 gap-4;
}

._link a {
    @apply text-blue-500 hover:text-blue-600 hover:underline;
}
._video_description {
    * {
        @apply font-sans text-sm #{!important};
    }

    pre {
        @apply whitespace-pre-line;
    }
}

._h1,
._h2,
._h3,
._h4,
._h5,
._h6 {
    @apply text-gray-800 font-semibold;
}

._h1 {
    @apply text-4xl;
}
._h2 {
    @apply text-3xl;
}
._h3 {
    @apply text-2xl;
}
._h4 {
    @apply text-xl;
}
._h5 {
    @apply text-lg;
}
._h6 {
    @apply text-base;
}

// Alert
._alert {
    &.warning {
        @apply bg-yellow-500/10 border-yellow-500;

        ._alert_icon_wrapper {
            @apply bg-yellow-500;
        }
    }
    &.error {
        @apply bg-red-500/10 border-red-500;

        ._alert_icon_wrapper {
            @apply bg-red-500;
        }
    }
    &.success {
        @apply bg-green-500/10 border-green-500;

        ._alert_icon_wrapper {
            @apply bg-green-500;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
    background: #dc0000 !important;
    height: 2.5px !important;
}
